# Creación de Data Frame

### En este Jupyter notebook crearemos algunos dataframes que hemos obtenido mediante webscrapping que más adelante en el EDA.

In [1]:
import pandas as pd
from bs4 import BeautifulSoup 
import requests
import pprint 
from helpers import *

In [2]:
#Diccionario cuyas claves son el equipo y el valor es el link asociado a la plantilla de cada equipo en la temporada 2022/2023.
links={
    'FC Barcelona': 'https://www.transfermarkt.es/fc-barcelona/kader/verein/131/plus/0/galerie/0?saison_id=2022',
    'Real Madrid': 'https://www.transfermarkt.es/real-madrid-cf/kader/verein/418/plus/0/galerie/0?saison_id=2022', 
    'Atlético de Madrid': 'https://www.transfermarkt.es/fc-barcelona/kader/verein/13/plus/0/galerie/0?saison_id=2022',
    'Real Sociedad': 'https://www.transfermarkt.es/real-madrid-cf/kader/verein/681/plus/0/galerie/0?saison_id=2022', 
    'Villarreal CF': 'https://www.transfermarkt.es/fc-barcelona/kader/verein/1050/plus/0/galerie/0?saison_id=2022',
    'Real Betis': 'https://www.transfermarkt.es/fc-barcelona/kader/verein/150/plus/0/galerie/0?saison_id=2022',
    'Osasuna': 'https://www.transfermarkt.es/fc-barcelona/kader/verein/331/plus/0/galerie/0?saison_id=2022',
    'Athletic Club': 'https://www.transfermarkt.es/real-madrid-cf/kader/verein/621/plus/0/galerie/0?saison_id=2022', 
    'RCD Mallorca': 'https://www.transfermarkt.es/fc-barcelona/kader/verein/237/plus/0/galerie/0?saison_id=2022',
    'Girona FC': 'https://www.transfermarkt.es/fc-barcelona/kader/verein/12321/plus/0/galerie/0?saison_id=2022',
    'Sevilla FC': 'https://www.transfermarkt.es/fc-barcelona/kader/verein/368/plus/0/galerie/0?saison_id=2022',
    'Rayo Vallecano': 'https://www.transfermarkt.es/fc-barcelona/kader/verein/367/plus/0/galerie/0?saison_id=2022',
    'Celta de Vigo': 'https://www.transfermarkt.es/fc-barcelona/kader/verein/940/plus/0/galerie/0?saison_id=2022',
    'Valencia CF': 'https://www.transfermarkt.es/fc-barcelona/kader/verein/1049/plus/0/galerie/0?saison_id=2022',
    'Getafe CF': 'https://www.transfermarkt.es/fc-barcelona/kader/verein/3709/plus/0/galerie/0?saison_id=2022',
    'Cadiz CF':'https://www.transfermarkt.es/fc-barcelona/kader/verein/2687/plus/0/galerie/0?saison_id=2022',
    'UD Almería': 'https://www.transfermarkt.es/fc-barcelona/kader/verein/3302/plus/0/galerie/0?saison_id=2022',
    'Real Valladolid':'https://www.transfermarkt.es/fc-barcelona/kader/verein/366/plus/0/galerie/0?saison_id=2022',
    'RCD Espanyol': 'https://www.transfermarkt.es/fc-barcelona/kader/verein/714/plus/0/galerie/0?saison_id=2022',
    'Elche CF': 'https://www.transfermarkt.es/fc-barcelona/kader/verein/1531/plus/0/galerie/0?saison_id=2022'    
}

In [48]:
for key,value in links.items():
    df=crear_df(get_soup(value))
    df.to_csv('./Data/'+key+'.csv', index=False)

Comprobamos que todo a funcionado como debería:

In [3]:
data=dict()
lista_equipos=[equipo for equipo in links.keys()]
for i in range(5):
    data[i] = pd.read_csv('./Data/'+lista_equipos[i]+'.csv')

In [51]:
print(lista_equipos[0])
data[0].head(10)

FC Barcelona

                  Nombre  Edad         Posición Nacionalidad  Valor_Mercado
0  Marc-André ter Stegen    31          Portero     Alemania  35,00 mill. €
1             Iñaki Peña    24          Portero       España   4,00 mill. €
2            Arnau Tenas    22          Portero       España   2,00 mill. €
3        Ander Astralaga    19          Portero       España    Desconocido
4          Ronald Araujo    24  Defensa central      Uruguay  70,00 mill. €
5           Jules Koundé    24  Defensa central      Francia  60,00 mill. €
6    Andreas Christensen    27  Defensa central    Dinamarca  40,00 mill. €
7            Eric García    22  Defensa central       España  10,00 mill. €
8             Chadi Riad    20  Defensa central    Marruecos      500 mil €
9           Gerard Piqué    36  Defensa central       España    Desconocido

In [52]:
print(lista_equipos[1])
data[1].head(10)

Real Madrid

             Nombre  Edad         Posición Nacionalidad  Valor_Mercado
0  Thibaut Courtois    31          Portero      Bélgica  45,00 mill. €
1      Andriy Lunin    24          Portero      Ucrania   5,00 mill. €
2     Mario de Luis    21          Portero       España      500 mil €
3        Luis López    22          Portero       España      300 mil €
4   Lucas Cañizares    21          Portero       España      200 mil €
5     Diego Piñeiro    19          Portero       España    Desconocido
6     Fran González    18          Portero       España    Desconocido
7      Éder Militão    25  Defensa central       Brasil  70,00 mill. €
8       David Alaba    31  Defensa central      Austria  40,00 mill. €
9   Antonio Rüdiger    30  Defensa central     Alemania  32,00 mill. €

In [53]:
print(lista_equipos[2])
data[2].head(10)

Atlético de Madrid

               Nombre  Edad         Posición Nacionalidad  Valor_Mercado
0           Jan Oblak    30          Portero    Eslovenia  35,00 mill. €
1           Ivo Grbic    27          Portero      Croacia   3,50 mill. €
2    Alejandro Iturbe    19          Portero       España      150 mil €
3       Antonio Gomis    20          Portero       España      150 mil €
4       Sergio Mestre    18          Portero       España    Desconocido
5  José María Giménez    28  Defensa central      Uruguay  35,00 mill. €
6       Mario Hermoso    28  Defensa central       España  20,00 mill. €
7        Stefan Savic    32  Defensa central   Montenegro   6,00 mill. €
8         Axel Witsel    34  Defensa central      Bélgica   5,00 mill. €
9              Felipe    34  Defensa central       Brasil   2,00 mill. €

In [54]:
print(lista_equipos[3])
data[3].head(10)

Real Sociedad

             Nombre  Edad           Posición Nacionalidad  Valor_Mercado
0       Álex Remiro    28            Portero       España  25,00 mill. €
1  Andoni Zubiaurre    26            Portero       España      300 mil €
2      Unai Marrero    21            Portero       España      250 mil €
3      Egoitz Arana    21            Portero       España       50 mil €
4  Robin Le Normand    26    Defensa central       España  35,00 mill. €
5     Igor Zubeldia    26    Defensa central       España  15,00 mill. €
6   Aritz Elustondo    29    Defensa central       España  14,00 mill. €
7       Jon Pacheco    22    Defensa central       España   6,00 mill. €
8   Aritz Arambarri    25    Defensa central       España      500 mil €
9       Aihen Muñoz    25  Lateral izquierdo       España   6,00 mill. €

In [55]:
print(lista_equipos[4])
data[4].head(10)

Villarreal CF

            Nombre  Edad         Posición Nacionalidad  Valor_Mercado
0   Gerónimo Rulli    31          Portero    Argentina  10,00 mill. €
1  Filip Jørgensen    21          Portero    Dinamarca   1,50 mill. €
2       Pepe Reina    40          Portero       España      700 mil €
3     Iker Álvarez    21          Portero      Andorra      500 mil €
4   Gianni Cassaro    31          Portero       España      100 mil €
5       Pau Torres    26  Defensa central       España  45,00 mill. €
6     Jorge Cuenca    23  Defensa central       España   5,00 mill. €
7      Aïssa Mandi    31  Defensa central      Argelia   3,00 mill. €
8   Mamadou Mbacke    20  Defensa central      Senegal   2,80 mill. €
9      Raúl Albiol    37  Defensa central       España   2,50 mill. €

#### Ahora, tomaremos el archivo 'SP1.csv' que está en el directorio Data y lo limpiaremos de forma que los equipos tengan el mismo nombre que los archivos.

In [56]:
df_partidos = pd.read_csv('./data/SP1.csv')

In [57]:
df_partidos['HomeTeam'].unique()

array(['Osasuna', 'Celta', 'Valladolid', 'Barcelona', 'Cadiz', 'Valencia',
       'Almeria', 'Ath Bilbao', 'Getafe', 'Betis', 'Espanol', 'Sevilla',
       'Mallorca', 'Ath Madrid', 'Sociedad', 'Elche', 'Girona',
       'Vallecano', 'Real Madrid', 'Villarreal'], dtype=object)

In [58]:
lista=[equipo for equipo in df_partidos['HomeTeam'].unique()]
lista

['Osasuna',
 'Celta',
 'Valladolid',
 'Barcelona',
 'Cadiz',
 'Valencia',
 'Almeria',
 'Ath Bilbao',
 'Getafe',
 'Betis',
 'Espanol',
 'Sevilla',
 'Mallorca',
 'Ath Madrid',
 'Sociedad',
 'Elche',
 'Girona',
 'Vallecano',
 'Real Madrid',
 'Villarreal']

In [60]:
#Comprobamos qué nombres son estan bien
l=[]
for equipo in lista:
    if equipo in lista_equipos:
        print(equipo, 'Esta bien')
    else:
        l.append(equipo)

Osasuna Esta bien
Real Madrid Esta bien

In [61]:
lista_equipos

['FC Barcelona',
 'Real Madrid',
 'Atlético de Madrid',
 'Real Sociedad',
 'Villarreal CF',
 'Real Betis',
 'Osasuna',
 'Athletic Club',
 'RCD Mallorca',
 'Girona FC',
 'Sevilla FC',
 'Rayo Vallecano',
 'Celta de Vigo',
 'Valencia CF',
 'Getafe CF',
 'Cadiz CF',
 'UD Almería',
 'Real Valladolid',
 'RCD Espanyol',
 'Elche CF']

In [62]:
l

['Celta',
 'Valladolid',
 'Barcelona',
 'Cadiz',
 'Valencia',
 'Almeria',
 'Ath Bilbao',
 'Getafe',
 'Betis',
 'Espanol',
 'Sevilla',
 'Mallorca',
 'Ath Madrid',
 'Sociedad',
 'Elche',
 'Girona',
 'Vallecano',
 'Villarreal']

In [63]:
dict_cambio={'Celta': 'Celta de Vigo',
             'Valladolid': 'Real Valladolid',
             'Barcelona': 'FC Barcelona',
             'Cadiz': 'Cadiz CF',
             'Valencia': 'Valencia CF',
             'Almeria': 'UD Almería',
             'Ath Bilbao': 'Athletic Club',
             'Getafe': 'Getafe CF',
             'Betis': 'Real Betis',
             'Espanol': 'RCD Espanyol',
             'Sevilla': 'Sevilla FC',
             'Mallorca': 'RCD Mallorca',
             'Ath Madrid': 'Atlético de Madrid',
             'Sociedad': 'Real Sociedad',
             'Elche': 'Elche CF',
             'Girona': 'Girona FC',
             'Vallecano': 'Rayo Vallecano',
             'Villarreal': 'Villarreal CF'  
             }
df_partidos['HomeTeam']=df_partidos['HomeTeam'].replace(dict_cambio)
df_partidos['AwayTeam']=df_partidos['AwayTeam'].replace(dict_cambio)

In [66]:
#Comprobamos que el cambio es correcto
for equipo in df_partidos['HomeTeam'].unique():
    if equipo not in df_partidos['AwayTeam'].unique():
        print('Falta', equipo)

In [67]:
len(df_partidos['HomeTeam'].unique())==len(df_partidos['HomeTeam'].unique())

True

In [68]:
df_partidos.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,SP1,12/08/2022,20:00,Osasuna,Sevilla FC,2,1,H,1,1,...,1.52,0.25,1.73,2.08,1.76,2.20,1.88,2.23,1.79,2.09
1,SP1,13/08/2022,16:00,Celta de Vigo,RCD Espanyol,2,2,D,1,0,...,1.70,-0.75,2.00,1.90,2.02,1.91,2.06,1.93,2.01,1.86
2,SP1,13/08/2022,18:00,Real Valladolid,Villarreal CF,0,3,A,0,0,...,1.79,0.25,2.02,1.88,2.02,1.91,2.03,1.91,1.98,1.88
3,SP1,13/08/2022,20:00,FC Barcelona,Rayo Vallecano,0,0,D,0,0,...,2.61,-1.75,1.82,2.08,1.83,2.08,1.86,2.14,1.82,2.06
4,SP1,14/08/2022,16:30,Cadiz CF,Real Sociedad,0,1,A,0,1,...,1.50,0.25,2.05,1.85,2.06,1.87,2.08,1.92,2.00,1.86

In [70]:
#Nos quedamos con las columnas que nos interesan:
col_mantener=['Date',
 'Time',
 'HomeTeam',
 'AwayTeam',
 'FTHG',
 'FTAG',
 'FTR',
 'HTHG',
 'HTAG',
 'HTR',
 'HS',
 'AS',
 'HST',
 'AST',
 'HF',
 'AF',
 'HC',
 'AC',
 'HY',
 'AY',
 'HR',
 'AR']

df_partidos = df_partidos.drop(columns=[col for col in df_partidos.columns if col not in col_mantener])

In [71]:
df_partidos

,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,12/08/2022,20:00,Osasuna,Sevilla FC,2,1,H,1,1,D,...,5,3,16,9,5,2,5,3,0,0
1,13/08/2022,16:00,Celta de Vigo,RCD Espanyol,2,2,D,1,0,H,...,3,2,17,15,3,3,5,2,0,0
2,13/08/2022,18:00,Real Valladolid,Villarreal CF,0,3,A,0,0,D,...,6,4,6,10,4,5,1,0,0,0
3,13/08/2022,20:00,FC Barcelona,Rayo Vallecano,0,0,D,0,0,D,...,6,2,16,14,8,0,3,6,1,0
4,14/08/2022,16:30,Cadiz CF,Real Sociedad,0,1,A,0,1,A,...,2,7,9,20,3,6,4,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,04/06/2023,20:00,Real Betis,Valencia CF,1,1,D,1,0,H,...,3,3,11,11,5,4,3,0,0,1
376,04/06/2023,20:00,Celta de Vigo,FC Barcelona,2,1,H,1,0,H,...,9,2,13,9,2,4,2,2,0,0
377,04/06/2023,20:00,Elche CF,Cadiz CF,1,1,D,0,1,A,...,5,3,18,8,7,4,4,3,0,0
378,04/06/2023,20:00,RCD Espanyol,UD Almería,3,3,D,1,1,D,...,8,4,11,12,7,6,2,3,0,0
379,04/06/2023,20:00,Real Valladolid,Getafe CF,0,0,D,0,0,D,...,0,1,9,25,6,1,1,3,0,0

In [73]:
#Guardamos el archivo modificado
df_partidos.to_csv('./Data/0.Partidos.csv', index=False)

### Ahora, crearemos un dataframe nuevo con la tabla de clasificación de los equipos, junto a los siguientes datos: Número de victorias, Número de empates, ,Número de derrotas, Goles marcados, Goles que le han marcado y Puntos.

In [5]:
lista_equipos=['FC Barcelona',
 'Real Madrid',
 'Atlético de Madrid',
 'Real Sociedad',
 'Villarreal CF',
 'Real Betis',
 'Osasuna',
 'Athletic Club',
 'RCD Mallorca',
 'Girona FC',
 'Sevilla FC',
 'Rayo Vallecano',
 'Celta de Vigo',
 'Valencia CF',
 'Getafe CF',
 'Cadiz CF',
 'UD Almería',
 'Real Valladolid',
 'RCD Espanyol',
 'Elche CF']
df_partidos=pd.read_csv('./data/0.Partidos.csv')

In [15]:
# Está ordenado.
d={'Equipo': lista_equipos,
    'V' : [victorias(data_equipo(df_partidos,equipo),equipo) for equipo in lista_equipos],
    'E' : [empates(data_equipo(df_partidos,equipo),equipo) for equipo in lista_equipos],
    'D' : [derrotas(data_equipo(df_partidos,equipo),equipo) for equipo in lista_equipos],
    'Goles a favor': [goles_marcados(data_equipo(df_partidos,equipo),equipo) for equipo in lista_equipos],
    'Goles en contra': [goles_en_contra(data_equipo(df_partidos,equipo),equipo) for equipo in lista_equipos]
}

In [16]:
df_clasi=pd.DataFrame(d)

In [17]:
df_clasi

                Equipo   V   E   D  Goles a favor  Goles en contra
0         FC Barcelona  28   4   6             70               20
1          Real Madrid  24   6   8             75               36
2   Atlético de Madrid  23   8   7             70               33
3        Real Sociedad  21   8   9             51               35
4        Villarreal CF  19   7  12             59               40
5           Real Betis  17   9  12             46               41
6              Osasuna  15   8  15             37               42
7        Athletic Club  14   9  15             47               43
8         RCD Mallorca  14   8  16             37               43
9            Girona FC  13  10  15             58               55
10          Sevilla FC  13  10  15             47               54
11      Rayo Vallecano  13  10  15             45               53
12       Celta de Vigo  11  10  17             43               53
13         Valencia CF  11   9  18             42               45
14           Getafe CF  10  12  16             34               45
15            Cadiz CF  10  12  16             30               53
16          UD Almería  11   8  19             49               65
17     Real Valladolid  11   7  20             33               63
18        RCD Espanyol   8  13  17             52               69
19            Elche CF   5  10  23             30               67

In [18]:
# Añadimos los puntos de los equipos:
puntos=3*df_clasi['V'] + df_clasi['E']
df_clasi['Puntos']=puntos
df_clasi

                Equipo   V   E   D  Goles a favor  Goles en contra  Puntos
0         FC Barcelona  28   4   6             70               20      88
1          Real Madrid  24   6   8             75               36      78
2   Atlético de Madrid  23   8   7             70               33      77
3        Real Sociedad  21   8   9             51               35      71
4        Villarreal CF  19   7  12             59               40      64
5           Real Betis  17   9  12             46               41      60
6              Osasuna  15   8  15             37               42      53
7        Athletic Club  14   9  15             47               43      51
8         RCD Mallorca  14   8  16             37               43      50
9            Girona FC  13  10  15             58               55      49
10          Sevilla FC  13  10  15             47               54      49
11      Rayo Vallecano  13  10  15             45               53      49
12       Celta de Vigo  11  10  17             43               53      43
13         Valencia CF  11   9  18             42               45      42
14           Getafe CF  10  12  16             34               45      42
15            Cadiz CF  10  12  16             30               53      42
16          UD Almería  11   8  19             49               65      41
17     Real Valladolid  11   7  20             33               63      40
18        RCD Espanyol   8  13  17             52               69      37
19            Elche CF   5  10  23             30               67      25

In [19]:
#Guardamos el nuevo archivo
df_clasi.to_csv('./Data/1.Clasificacion.csv', index=False)